<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitachi.schedule.mybatis.mapper.UserMapper">
    <resultMap type="com.hitachi.schedule.mybatis.pojo.User" id="UserShkinInfo">
        <id column="user_id" property="user_id"/>
        <result column="shkin_id" property="shkin_id"/>
        <result column="user_password" property="user_password"/>
        <result column="user_image" property="user_image"/>
        <result column="user_delete_flag" property="user_delete_flag"/>
        <result column="user_update_uid" property="user_update_uid"/>
        <result column="user_update_ymd" property="user_update_ymd"/>
        <result column="user_update_uid" property="user_update_uid"/>
        <result column="user_ex_key" property="user_ex_key"/>
        <association property="shkin" javaType="com.hitachi.schedule.mybatis.pojo.Shkin">
            <id column="shkin_id" property="shkin_id"/>
            <result column="ssk_id" property="ssk_id"/>
            <result column="shkin_smi" property="shkin_smi"/>
            <result column="shkin_update_uid" property="shkin_update_uid"/>
            <result column="shkin_update_ymd" property="shkin_update_ymd"/>
            <result column="shkin_ex_key" property="shkin_ex_key"/>
        </association>
    </resultMap>


    <sql id="query_user_where">
        a.shkin_id = b.shkin_id AND a.user_delete_flag = '0'
        <if test="shkin_id!=null and shkin_id!=''">
            AND (a.shkin_id = #{shkin_id}
        </if>
        <if test="shkin_smi!=null and shkin_smi!=''">
            <if test="shkin_id!=null and shkin_id!=''">
                OR
            </if>
            <if test="shkin_id==null or shkin_id==''">
                AND
            </if>
            <if test="strKnskShbtCode == 1">
                b.shkin_smi LIKE '${shkin_smi}%'
            </if>
            <if test="strKnskShbtCode == 2">
                b.shkin_smi LIKE '%${shkin_smi}%'
            </if>
            <if test="strKnskShbtCode == 3">
                b.shkin_smi LIKE '%${shkin_smi}'
            </if>
            <if test="strKnskShbtCode == 4">
                b.shkin_smi = #{shkin_smi}
            </if>
        </if>
        <if test="shkin_id!=null and shkin_id!=''">
            )
        </if>
    </sql>

    <!--
    <select id="findUserById" parameterType="java.lang.String" resultType="com.hitachi.schedule.mybatis.pojo.User">
        SELECT * FROM public.user WHERE user_id = #{user_id}
    </select>
    -->

    <select id="findUserById" parameterType="java.lang.String" resultMap="UserShkinInfo">
        SELECT *
        FROM public.user a, public.shkin b
        WHERE a.user_id = #{user_id} AND a.shkin_id = b.shkin_id AND a.user_delete_flag = '0'
    </select>

    <select id="findUserByShkin" parameterType="com.hitachi.schedule.mybatis.param.UserNameForSearch"
            resultMap="UserShkinInfo">
        SELECT *
        FROM public.user a, public.shkin b
        <where>
            <include refid="query_user_where"></include>
        </where>
        ORDER BY a.user_id
        <if test="startNo!=null and sizes!=null and sizes!=0">
            limit #{sizes} OFFSET #{startNo}
        </if>
    </select>

    <select id="countUserByShkin" parameterType="com.hitachi.schedule.mybatis.param.UserNameForSearch"
            resultType="Integer">
        SELECT count(*)
        FROM public.user a, public.shkin b
        <where>
            <include refid="query_user_where"></include>
        </where>
    </select>

    <sql id="updateUserSql">
        <if test="user_image!=null">
            user_image = #{user_image},
        </if>
        user_password = #{user_password} ,
        user_delete_flag = #{user_delete_flag},
        user_update_uid = #{user_update_uid},
        user_update_ymd = #{user_update_ymd},
        user_ex_key = #{user_ex_key}
    </sql>
    <update id="updateUser" parameterType="com.hitachi.schedule.mybatis.pojo.User">
        UPDATE public.user
        SET
        <include refid="updateUserSql"></include>
        WHERE user_id = #{user_id}
    </update>

    <select id="findUserCountById" parameterType="java.lang.String" resultType="Integer">
        SELECT count(*)
        FROM public.user
        WHERE user_id = #{user_id} AND user_delete_flag = '0'
    </select>

    <select id="findUserExKeyById" parameterType="java.lang.String" resultType="Integer">
        SELECT user_ex_key
        FROM public.user
        WHERE user_id = #{user_id}
    </select>

    <update id="updateUserList" parameterType="com.hitachi.schedule.service.param.UserDeleteParam">
        UPDATE public.user
        SET
        user_delete_flag = #{user_delete_flag},
        user_update_uid = #{user_update_uid},
        user_update_ymd = #{user_update_ymd}
        WHERE
        user_delete_flag = '0'
        <foreach collection="userIdList" item="user_id_obj" open="AND user_id IN(" close=")" separator=",">
            #{user_id_obj}
        </foreach>
    </update>

    <insert id="insertUser" parameterType="com.hitachi.schedule.mybatis.pojo.User">
        <selectKey keyProperty="user_id" order="BEFORE" resultType="java.lang.String">
            SELECT nextval('user_id_seq'::regclass) as user_id
        </selectKey>
        INSERT INTO public.user (user_id, shkin_id, user_password, user_image,
        user_delete_flag, user_update_uid, user_update_ymd,
        user_ex_key)
        VALUES (#{user_id}, #{shkin_id}, #{user_password}, #{user_image},
        #{user_delete_flag}, #{user_update_uid}, #{user_update_ymd},
        #{user_ex_key})
    </insert>

</mapper>
