<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitachi.schedule.dao.mybatis.mapper.SskMapper">

    <select id="findSskById" parameterType="java.lang.String" resultType="com.hitachi.schedule.dao.mybatis.pojo.Ssk">
        SELECT * FROM public.ssk WHERE ssk_id = #{ssk_id}
    </select>

    <select id="listAllSskByNull" resultType="com.hitachi.schedule.dao.mybatis.pojo.Ssk">
        SELECT * FROM public.ssk
        WHERE jui_ssk_id IS NULL
        ORDER BY ssk_id
    </select>

    <select id="listAllSskByJuiSskId" parameterType="java.lang.String"
            resultType="com.hitachi.schedule.dao.mybatis.pojo.Ssk">
        SELECT * FROM public.ssk
        WHERE jui_ssk_id = #{jui_ssk_id}
        ORDER BY ssk_id
    </select>
</mapper>
