<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{GSAXS020}">

<section layout:fragment="main">
    <div class="card">
        <!--表見出しエリア-->
        <div class="card-header bg-info">
            <p th:text="*{contMsg}"></p>
        </div>

        <div class="card-body">
            <!--単項目エリア-->
            <table class="table table-sm table-bordered">
                <tr>
                    <th scope="row" class="bg-light w-25">エラー区分</th>
                    <td th:text="*{errLevel}"></td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light w-25">[[*{errScreenIdLabel}]]</th>
                    <td th:text="*{errScreenId}"></td>
                </tr>

                <tr>
                    <th scope="row" class="bg-light w-25">[[*{errScreenNameLabel}]]</th>
                    <td th:text="*{errScreenName}"></td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light w-25">メッセージ</th>
                    <td th:text="*{errMsg}"></td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light w-25">発生日時</th>
                    <td th:text="*{errorTimeDate}"></td>
                </tr>
            </table>
        </div>
</section>