<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{GSAXS020}">

<section layout:fragment="main">

    <div class="card">
        <!--表見出しエリア-->
        <div class="card-header bg-white">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-link active" href="/GSABS010Display">推荐</a>
                    <a class="btn" href="/GSABS010Follow">关注</a>
                    <a class="btn" href="/GSABS010Hot">热榜</a>
                </div>
            </div>
        </div>

        <div id="articleScrollDiv" class="card-body overflow-auto" style="height: calc(100vh - 240px)"
             th:fragment="articleList(titleHideFlg)">

            <div th:each="obj, stat : *{articleList}">
                <hr th:unless="1 eq ${stat.count}"/>
                <b th:unless="${titleHideFlg}">
                    <a class="btn text-left px-sm-0"
                       th:href="'/GABSTitles/' + ${obj.titleId} + '/' + ${obj.articleId}">
                        <b>[[${obj.articleTitle}]]</b>
                    </a>
                </b>
                <div class="media w-75" th:id="'article' + ${obj.articleId}" th:if="${obj.contentFlg}">
                    <span th:utext="${obj.articleImg}" th:if="${obj.articleImg}"></span>
                    <div class="media-body">
                        <span th:text="${obj.userName} + '： '" th:if="${obj.userName}"></span>
                        <span th:text="${obj.articleContent}"></span>
                        <a href="#" name="articleUp" th:value="${obj.articleId}">
                            阅读全文
                            <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="media w-75" th:id="'article' + ${obj.articleId}" th:unless="${obj.contentFlg}">
                    <div class="media-body">
                        <img th:src="'/commonGetImg/' + ${obj.userImg} + '?param=user&height=20&width=20'"
                             th:if="${obj.userName}"
                             width="20x" height="20px" class="rounded-circle" alt="利用者画像"/>
                        <span th:utext="${obj.userName}" th:if="${obj.userName}"></span>
                        <br/>
                        <span class="font-weight-light">[[${obj.articleAgree}]]人赞成了该回答</span>
                        <br/>
                        <pre th:utext="${obj.articleContent}"></pre>
                    </div>
                </div>
                <div th:id="'comment' + ${obj.articleId} + 'Div'">
                    <a href="#" name="articleAgree"
                       th:class="'btn btn-sm btn-primary' + (${1 eq obj.articleAgreeFlg} ? ' btn-info' : '')"
                       th:value="${obj.articleId}" th:id="'article' + ${obj.articleId} + 'Agree'">
                        <svg class="bi bi-caret-up-fill" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
                        </svg>
                        赞同&nbsp;
                        <span name="agree"
                              th:id="'article' + ${obj.articleId} + 'AgreeSpan'">[[${obj.articleAgree}]]</span>
                    </a>
                    <a href="#" name="articleDisAgree"
                       th:class="'btn btn-sm btn-primary' + (${2 eq obj.articleAgreeFlg} ? ' btn-info' : '')"
                       th:value="${obj.articleId}" th:id="'article' + ${obj.articleId} + 'DisAgree'">
                        <svg class="bi bi-caret-down-fill" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"/>
                        </svg>
                    </a>
                    <a class="text-secondary" name="articleCountUp" th:value="${obj.articleId}">
                        <svg class="Zi Zi--Comment Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em"
                             height="1.2em">
                            <path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z"
                                  fill-rule="evenodd">
                            </path>
                        </svg>
                        <span th:if="0 eq ${obj.articleCount}">添加评论&nbsp;</span>
                        <span th:unless="0 eq ${obj.articleCount}">[[${obj.articleCount}]]条评论&nbsp;</span>
                    </a>
                    <a class="text-secondary d-none" name="articleCountList" th:value="${obj.articleId}">
                        <svg class="Zi Zi--Comment Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em"
                             height="1.2em">
                            <path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z"
                                  fill-rule="evenodd">
                            </path>
                        </svg>
                        收起评论&nbsp;
                    </a>
                    <a class="text-secondary" name="shareLinkCopy"
                       th:value="${obj.articleTitle} + ' - ' + 'aaa' + ' - 博客'"
                       th:href="'http://127.0.0.1:8080/GABSTitles/' +${obj.titleId} + '/' + ${obj.articleId}">
                        <svg class="Zi Zi--Share Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em"
                             height="1.2em">
                            <path d="M2.931 7.89c-1.067.24-1.275 1.669-.318 2.207l5.277 2.908 8.168-4.776c.25-.127.477.198.273.39L9.05 14.66l.927 5.953c.18 1.084 1.593 1.376 2.182.456l9.644-15.242c.584-.892-.212-2.029-1.234-1.796L2.93 7.89z"
                                  fill-rule="evenodd"></path>
                        </svg>
                        分享&nbsp;
                    </a>
                    <a class="text-secondary" name="articleCollect" th:value="${obj.articleId}">
                        <svg class="Zi Zi--Star Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em"
                             height="1.2em">
                            <path d="M5.515 19.64l.918-5.355-3.89-3.792c-.926-.902-.639-1.784.64-1.97L8.56 7.74l2.404-4.871c.572-1.16 1.5-1.16 2.072 0L15.44 7.74l5.377.782c1.28.186 1.566 1.068.64 1.97l-3.89 3.793.918 5.354c.219 1.274-.532 1.82-1.676 1.218L12 18.33l-4.808 2.528c-1.145.602-1.896.056-1.677-1.218z"
                                  fill-rule="evenodd"></path>
                        </svg>
                        收藏&nbsp;
                    </a>
                    <a class="text-secondary" name="articleLike" th:value="${obj.articleId}">
                        <svg class="Zi Zi--Heart Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em"
                             height="1.2em">
                            <path d="M2 8.437C2 5.505 4.294 3.094 7.207 3 9.243 3 11.092 4.19 12 6c.823-1.758 2.649-3 4.651-3C19.545 3 22 5.507 22 8.432 22 16.24 13.842 21 12 21 10.158 21 2 16.24 2 8.437z"
                                  fill-rule="evenodd"></path>
                        </svg>
                        <span th:text="${obj.articleLikeFlg ? '取消喜欢' : '喜欢'}"></span>&nbsp;
                    </a>
                    <div class="dropdown d-inline">
                        <button class="btn" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="Zi Zi--Dots Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em"
                                 height="1.2em">
                                <path d="M5 14a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm7 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm7 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                                      fill-rule="evenodd"></path>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <small>
                                <a class="dropdown-item" href="#" disabled>没有帮助</a>
                                <a class="dropdown-item" href="#" disabled>举报</a>
                                <a class="dropdown-item" href="#" disabled>不感兴趣</a>
                            </small>
                        </div>
                    </div>
                    <a class="text-secondary d-none" name="articleList"
                       th:id="'article' + ${obj.articleId} + 'List'"
                       href="#">
                        收起
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="modal fade" id="collectModal" tabindex="-1" role="dialog" aria-labelledby="collectModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-inline-block text-center border-0">
                            <h5 class="text-center">添加收藏</h5>
                            <p class="text-sm-center text-secondary">选择你想添加的收藏夹</p>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer d-inline-block text-center border-0">
                            <button type="button" class="btn btn-sm btn-primary w-50" id="moveToFolder">
                                创建收藏夹
                            </button>
                            <button type="button" class="modalCloseButton">
                                <svg class="Zi Zi--Close Modal-closeIcon" fill="white" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z"
                                          fill-rule="evenodd">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog"
                 aria-labelledby="collectModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-inline-block text-center border-0">
                            <h5 class="text-center">创建新收藏夹</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="collectTitle" placeholder="收藏标题">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="10" cols="70"
                                          id="collectContent" placeholder="收藏描述内容（可选）"></textarea>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="levelPublic" name="collectLevel" class="custom-control-input"
                                       value="1" checked="checked">
                                <label class="custom-control-label" for="levelPublic">
                                    公开
                                    <span class="text-secondary ml-1">
                                        <small>有其他人关注此收藏夹时不可设置为私密</small>
                                    </span>
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="levelPrivate" name="collectLevel" class="custom-control-input"
                                       value="0">
                                <label class="custom-control-label" for="levelPrivate">
                                    秘密
                                    <span class="text-secondary ml-1">
                                        <small>只有你自己可以查看这个收藏夹</small>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer d-inline-block text-center border-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-sm btn-light w-100" id="backToCollect">
                                            返回
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-sm btn-primary w-100"
                                                id="createFolderBtn" disabled>
                                            确认创建
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="modalCloseButton">
                                <svg class="Zi Zi--Close Modal-closeIcon" fill="white" viewBox="0 0 24 24"
                                     width="24" height="24">
                                    <path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z"
                                          fill-rule="evenodd">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>