<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{GSAXS020}">

<section layout:fragment="main">

    <div class="card articleInfo" name="articleAnswersHead" th:value="*{titleInfo.titleId}">
        <!--表見出しエリア-->
        <div class="card-body">
            <b>[[*{titleInfo.titleName}]]</b>

            <div class="media w-75 articleAbbr">
                <div class="media-body">
                    <span th:utext="*{titleInfo.titleContent}" th:if="*{titleInfo.contentFlg}"></span>
                    <pre th:utext="*{titleInfo.titleContent}" th:unless="*{titleInfo.contentFlg}"></pre>
                    <a href="#" class="articleUp" th:if="*{titleInfo.contentFlg}">
                        显示全部
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
                <script th:inline="javascript">
                    let titleInfo = [[${form.titleInfo}]];
                    let item = document.querySelector(".articleInfo");
                    item.articleObj = titleInfo;
                </script>
            </div>

            <div>
                <a href="#" class="btn btn-sm btn-primary">关注问题</a>
                <a href="#" class="btn btn-sm btn-outline-primary" name="articleAddHead">
                    <svg fill="currentColor" viewBox="0 0 24 24" width="16" height="16">
                        <path d="M4.076 16.966a4.19 4.19 0 0 1 1.05-1.76l8.568-8.569a.524.524 0 0 1 .741 0l2.928 2.927a.524.524 0 0 1 0 .74l-8.568 8.57c-.49.49-1.096.852-1.761 1.051l-3.528 1.058a.394.394 0 0 1-.49-.488l1.06-3.53zM20.558 4.83c.59.59.59 1.546 0 2.136l-1.693 1.692a.503.503 0 0 1-.712 0l-2.812-2.812a.504.504 0 0 1 0-.712l1.693-1.693a1.51 1.51 0 0 1 2.135 0l1.389 1.389z">
                        </path>
                    </svg>
                    写回答
                </a>
                <a href="#" class="btn btn-sm btn-outline-secondary">邀请回答</a>
                <a class="text-secondary d-none articlePackUp" href="#">
                    收起
                    <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>


    <div class="card mt-2 d-none" style="height: 330px" name="articleAnswersReply">
        <div class="card-head" name="articleAnswersReplyHead">
        </div>
        <div class="card-body" name="articleAnswersReplyBody">
        </div>
        <div class="card-footer bg-white border-top-0" name="articleAnswersReplyFooter">
            <a class="btn btn-sm btn-primary" href="#" name="articleAnswersReplyBtn">
                提交回答
            </a>
        </div>
    </div>

    <div class="card text-center mt-2" name="articleAnswersSize" th:if="5 lt *{articleAllSize}">
        <a class="btn btn-link text-secondary" href="#">
            查看全部
            <span name="articleAllSize">[[*{articleAllSize}]]</span>
            个回答
        </a>
    </div>
    <div class="card mt-2" name="articleAnswersBody">
        <div class="card-body overflow-auto" style="height: calc(100vh - 330px)"
             th:include="GSABS010 :: articleList(true)">
        </div>
    </div>
</section>

<section layout:fragment="js">
    <script th:src="'/js/' + *{screenId} + '.js'"></script>
</section>