<!--エラーメッセージエリア-->
<div id="GSAXS040">
    <div th:if="${error}" xmlns:th="http://www.thymeleaf.org">
        <pre class="text-danger text-left" th:each="obj : ${error}" th:utext="${obj}">
        </pre>
    </div>
    <div th:if="${warning}" th:each="obj : ${warning}"
         xmlns:th="http://www.thymeleaf.org">
        <pre class="text-warning text-left" th:each="obj : ${warning}" th:utext="${obj}">
        </pre>
    </div>
    <div th:if="${message}" xmlns:th="http://www.thymeleaf.org">
        <pre class="text-success text-left" th:each="obj : ${message}" th:utext="${obj}">
        </pre>
    </div>
</div>